<div id="chat-messages-container">

    <div id="chat-messages-display">

    </div>

    <div>
        <input name="message" placeholder="Enviar mensaje..." type="text">
        <button id="chat-message-button">Enviar</button>
    </div>

</div>