<div id="chat-register-container">
    <h3>Tenés que registrarte para poder usar el chat</h3>
    <input id="chat-register-input" name="email" type="text" placeholder="Ingresá tu email para poder usar el chat">
    <button id="chat-register-button">Registrar</button>
</div>