<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head', { title : 'Productos' }); -%>

<body>

    <%- include('../partials/header'); -%>

    <main>
        <h3>Productos</h3>

        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Imagen</th>
                </tr>
            </thead>
            <tbody id="products-wrapper">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
        </table>

    </main>

    <%- include('../partials/footer'); -%>

    <script>
        (() => {
            const products = JSON.parse('<%- JSON.stringify(products) %>');
            document.getElementById('products-wrapper').innerHTML = products.length == 0 ? 'No hay productos :(' : products.map(product => {
                let {name, thumbnail, price, id} = product;
                return (`
                    <tr data-product-id='${id}'>
                        <td>${name}</td>
                        <td>$${price}</td>
                        <td>${thumbnail}</td>
                    </tr>`
                );
            }).join('');
        })();
    </script>
</body>

</html>

