<div>
    <h1>Guardar un producto</h1>

    <form id="products-add-form" action="/productos" method="post">
        <div>
            <label for="name">Nombre</label>
            <input name="name" type="text">
        </div>

        <div>
            <label for="price">Precio</label>
            <input name="price" type="number">
        </div>

        <div>
            <label for="thumbnail">Imagen URL</label>
            <input name="thumbnail" type="text">
        </div>

        <button id="products-add-button" type="submit">Enviar</button>
    </form>
</div>